.date-range{
  width: 418px;
  cursor: pointer;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #4AB449;
  border-radius: 5px;
  .primary{
    font-weight: 500;
    font-size: 16px;
  }
  .secondary{
    font-weight: 400;
    font-size: 16px;
    color: #738187;
  }
  .date-range-click{
    width: 100%;
    height: 100%;
  }
  .range{
    transform: translateY(-40px);
  }
  .date-range-click{
    display: flex;
    flex-direction: row;
    div{
      flex:1;
      p{
        font-weight: 500;
        font-size: 16px
      }
    }
    .start, .end{
      font-weight: 400;
      font-size: 16px;
      color: #738187;
    }
  }
  .left{
    border-right: 2px solid #4AB449;
    padding: 10px 20px;
  }
  .right{
    padding: 10px 20px;
  }
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-picker-dropdown .ant-picker-panel-container{
  margin-left: 0px!important;
  margin-top: 5px;
  width: 877px;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels:last-child .ant-picker-panel{
  padding: 20px 75px;
}
